# Find Outlier of Natural Gas Price in 2024

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df2024 = pd.read_csv('year2024.csv')
df2024.head()

    timestamp  value
0  2024-12-31   3.40
1  2024-12-30   3.39
2  2024-12-27   2.91
3  2024-12-26   2.96
4  2024-12-24   2.95

In [4]:
df2025 = pd.read_csv('year2025.csv')
df2025.head()

    timestamp  value
0  2025-04-21   3.16
1  2025-04-17   2.94
2  2025-04-16   3.25
3  2025-04-15   3.27
4  2025-04-14   3.57

In [11]:
stat2024 = df2024.describe().to_dict()['value']
stat2025 = df2025.describe().to_dict()['value']

In [15]:
print(stat2024, '\n', stat2025)

{'count': 251.0, 'mean': 2.190478087649402, 'std': 0.8618490416064336, 'min': 1.21, '25%': 1.76, '50%': 2.11, '75%': 2.51, 'max': 13.2}
 {'count': 14.0, 'mean': 3.63, 'std': 0.3927418412216272, 'min': 2.94, '25%': 3.3075, '50%': 3.635, '75%': 3.9675000000000002, 'max': 4.21}

In [16]:
upper_2024 = stat2024['75%'] + 1.5 * (stat2024['75%'] - stat2024['25%'])
lower_2024 = stat2024['25%'] - 1.5 * (stat2024['75%'] - stat2024['25%'])
print('2024 upper:', upper_2024, 'lower:', lower_2024)

2024 upper: 3.6349999999999993 lower: 0.6350000000000005

In [17]:
sent = False
if stat2025['mean'] > upper_2024:
    sent = True
elif stat2025['mean'] < lower_2024:
    sent = True